---
import HorizontalLayout from "../layouts/HorizontalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import PageBody from "../components/PageBody.astro";

import * as NotificationsExample from "../markdowns/notifications-example.md";
---

<HorizontalLayout title="Alerts | Darki Admin">
  <PageHeader pretitle="Element" title="Alerts" />
  <PageBody>
    <div class="grid-2 mb-lg">
      <div class="card">
        <div class="card__header">
          <span class="card__title">Basic alerts</span>
        </div>
        <div class="card__body">
          <div class="alert" role="alert">
            Just to inform you about something..
          </div>
          <div class="alert alert--success" role="alert">
            Just to inform you about something..
          </div>
          <div class="alert alert--danger" role="alert">
            Just to inform you about something..
          </div>
          <div class="alert alert--info" role="alert">
            Just to inform you about something..
          </div>
          <div class="alert alert--warning" role="alert">
            Just to inform you about something..
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <span class="card__title">With icon and dismiss button</span>
        </div>
        <div class="card__body">
          <div class="alert" role="alert">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
              <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
              <line x1="6" y1="1" x2="6" y2="4"></line>
              <line x1="10" y1="1" x2="10" y2="4"></line>
              <line x1="14" y1="1" x2="14" y2="4"></line>
            </svg>
            <span>Just to tell you about something..</span>
            <a type="button" class="alert__dismiss" aria-label="close"></a>
          </div>
          <div class="alert alert--success" role="alert">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
            <span>Just to notify you about something good..</span>
            <a type="button" class="alert__dismiss" aria-label="close"></a>
          </div>
          <div class="alert alert--danger" role="alert">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="12"></line>
              <line x1="12" y1="16" x2="12.01" y2="16"></line>
            </svg>
            <span>Just to alert you about something wrong..</span>
            <a type="button" class="alert__dismiss" aria-label="close"></a>
          </div>
          <div class="alert alert--info" role="alert">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="16" x2="12" y2="12"></line><line
                x1="12"
                y1="8"
                x2="12.01"
                y2="8"></line>
            </svg>
            <span>Just to inform you about something..</span>
            <a type="button" class="alert__dismiss" aria-label="close"></a>
          </div>
          <div class="alert alert--warning" role="alert">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"
              ></path>
              <line x1="12" y1="9" x2="12" y2="13"></line>
              <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
            <span>Just to warn you about something..</span>
            <a type="button" class="alert__dismiss" aria-label="close"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-xxl">
      <div class="card__header">
        <span class="card__title">Notification example</span>
      </div>
      <div class="card__body content">
        <NotificationsExample.Content />
        <button class="button" onclick="notify('Successfully showed notification.', 'success')">
          Show Notification
        </button>
      </div>
    </div>
  </PageBody>
</HorizontalLayout>
