---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import PageBody from "../components/PageBody.astro";
---

<Layout title="Forgot Password | Darki Admin">
  <PageBody centered>
    <form class="w-sm py-xl" action="">
      <h1 class="text-h1 mb-xl">Forgot Password</h1>
      <div class="card mb-xl">
        <div class="card__body">
          <p class="text-md text-center mb-lg">Forgot your password? <br> Enter your email to reset your password.</p>
          <div class="field mb-lg">
            <label for="" class="field__label">Email</label>
            <div class="field__control">
              <input class="input" type="email" />
            </div>
          </div>
          <button class="button button--primary w-full">Request new password</button>
        </div>
      </div>
      <div class="text-sm text-center mb-md">
        <a href="/auth-login">Back to login</a>
      </div>
    </form>
  </PageBody>
</Layout>
