// ✨ Badge
.badge {
  display: inline-block;
  font-size: 0.8em;
  padding: 0 .4em;
  border-radius: 2px;
  text-shadow: $shadow;
  min-width: 2em;
  text-align: center;
  line-height: 1lh;
}

.badge:empty {
  min-width: 0.5rem;
  min-height: 0.5rem;
  display: inline-block;
  border-radius: 1rem;
}

.badge--notification {
  position: absolute;
  top: -3px;
  right: -3px;
}

// Variants
@each $name, $color in $colors {
  .badge--#{$name} {
    background-color: $color;
    color: $white;
  }
}
